<span>{{ title }} app is running!</span>

<!-- <h1>{{message}}</h1> -->


<app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail>
<!-- <app-pipes></app-pipes> -->
<!-- <app-component-interaction (childEvent)="message=$event" [parentData]="name"></app-component-interaction> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-test-event-binding></app-test-event-binding> -->
<!-- <app-test></app-test> -->
    